@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.Hidden("doctorId", (int)ViewBag.DoctorId)


    <div class="form-group">
        @Html.Label("Избери пациент:")
        @Html.DropDownList("patientId", (SelectList)ViewBag.Patients, "-- Избери пациент --", new { @class = "form-control" })
    </div>

    <button type="submit" class="btn btn-primary">Додади</button>
}
